<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css?family=Monoton&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Righteous&display=swap"
            rel="stylesheet"
        />
        <link href="/about.css" rel="stylesheet" />
        <title>About me</title>
    </head>
    <body>
        <a id="x" href="/">X</a>
        <main>
            <h1>LARS-PETER FEIGL</h1>
            <h1>WEB DEVELOPER</h1>
            <br />
            <h2>How my journey began?</h2>
            <p>
                In 2019 I've jumped in at the deep end. I wanted to change my
                career and above all I was searching for something, that I do
                with passion.
                <br />I luckily found it! <br />
                In short: Web Development, that's it! To deepen my knowledge and
                to get experienced, supportive help,
                <br />I've registered for a 3-month Bootcamp with
                <a href="https://www.spiced-acadh2y.com/" target="_blank">
                    Spiced Academy
                </a>
                .<br />
                There is no other possiblity out there expect for autodidaction
                to learn so fast so many skills. Great experience! I finished
                this Bootcamp in May 2020, afterwards I deepened my skills and
                I'm really happy about this career and life change.
            </p>
            <br />
            <h2>What I do at the moment?</h2>
            <p>
                Last year in November I joined the Spiced Team as an Assistant
                Teacher!<br />
                <a
                    href="https://www.spiced-acadh2y.com/en/about#about-staff-section"
                    target="_blank"
                >
                    Spiced Academy Staff
                </a>
            </p>
            <br />
            <h2>Stack</h2>
            <p>
                JavaScript ES6, Java (started), TypeScript, HTML5, CSS3, SASS,
                SQL, Node.js, React, Redux, Vue, jQuery, PostgreSQL, MongoDB,
                Git
            </p>
            <br />
            <h2>What I do next to coding?</h2>
            <p>
                <span role="img" aria-label="present"> 🎁 </span>
                <br />
                Love to spend my time with my girlfriend.
                <br />
                <br />
                <span role="img" aria-label="bike"> 🚲 </span>
                <br />
                Feel the freedom while I ride my bike!
                <br />
                <br />
                <span role="img" aria-label="bike"> 📴📖 </span>
                <br />
                Reading a great book can cheer me up!
                <br />
                <br />
                <span role="img" aria-label="tree"> 🌲🌞 </span>
                <br />
                Enjoy the sun in nature while walking or kayaking!
            </p>
        </main>
    </body>
</html>
