<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles.css" />
        <title>Brain Trainer</title>
    </head>
    <body>
        <div id="impossible">Please, turn your device to portrait!</div>
        <header>
            <a id="x" href="/">X</a>
            Train your memory
            <button id="play-button">PLAY</button>
            <p id="counter">3</p>
            <!-- comment -->
        </header>
        <main>
            <div id="outer-container1" class="container">
                <div id="outer-container2" class="container">
                    <div id="outer-container3" class="container">
                        <div id="outer-container4" class="container">
                            <div
                                id="emojis-span-container"
                                class="emojis-container container"
                            >
                                <div>
                                    <span class="emoji">🤡</span>
                                    <span class="emoji">😡</span>
                                    <span class="emoji">😃</span>
                                </div>
                                <div>
                                    <span class="emoji">👽</span>
                                    <span class="emoji">🐱‍🚀</span>
                                    <span class="emoji">🐻</span>
                                </div>

                                <div>
                                    <span class="emoji">🍖</span>
                                    <span class="emoji">👀</span>
                                    <span class="emoji">🕸</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="script.js"></script>
    </body>
</html>
