<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap"
            rel="stylesheet"
        />
        <link href="/style.css" rel="stylesheet" />
        <title>Play Games</title>
    </head>
    <body>
        <div id="games">
            <a href="/about"><canvas></canvas></a>
        </div>
        <script src="/elephant.js"></script>
        <script>
            (async () => {
                const gamesContainer = document.querySelector("#games");
                try {
                    const fetchJson = await fetch("/games.json");
                    games = await fetchJson.json();
                    let html = "";
                    for (let game of games) {
                        const { name, description, image } = game;
                        html += `<a href="/${name.toLowerCase()}" class="anchor">
                                    <h2>${name}</h2><img src="${image}"/>
                                    <p>${description}</p>
                                </a>`;
                    }

                    gamesContainer.innerHTML += html;
                    elephant();
                } catch (err) {
                    console.log(err);
                }
            })();
        </script>
    </body>
</html>
