<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap"
            rel="stylesheet"
        />
        <link href="/style.css" rel="stylesheet" />
        <title>Play Games</title>
    </head>
    <body>
        <div id="background">
            adkapsokpvokwpvkwevwpevkwpvkwevwkvwkdvpwkvpwkevpwkvkwpeokwpo kpwk
            opkadkapsokpvokwpvkwevwpevkwpvkwevwkvwkdvpwkvpwkevpwkvkwpeokwpo kpwk
            opkadkapsokpvokwpvkwevwpevkwpvkwevwkvwkdvpwkvpwkevpwkvkwpeokwpo kpwk
            opkadkapsokpvokwpvkwevwpevkwpvkwevwkvwkdvpwkvpwkevpwkvkwpeokwpo kpwk
            opkadkapsokpvokwpvkwevwpevkwpvkwevwkvwkdvpwkvpwkevpwkvkwpeokwpo kpwk
            opkadkapsokpvokwpvkwevwpevkwpvkwevwkvwkdvpwkvpwkevpwkvkwpeokwpo kpwk
            opk
        </div>
        <div id="games">
            <a class="card" href="/about">
                <div class="card-inner">
                    <div class="card-front canvas">
                        <canvas></canvas>
                    </div>
                    <div class="card-back canvas-back">
                        <h2>About me</h2>
                        <p>Click & Read</p>
                    </div>
                </div>
            </a>
        </div>
        <script src="/elephant.js"></script>
        <script>
            (async () => {
                const gamesContainer = document.querySelector("#games");
                try {
                    const fetchJson = await fetch("/games.json");
                    games = await fetchJson.json();
                    let html = "";
                    for (let game of games) {
                        const { name, description, image } = game;
                        html += `<a href="/${name.toLowerCase()}" class="card">
                                    <div class="card-inner">
                                        <div class="card-front"><h2>${name}</h2><img src="${image}"/></div>
                                        <div class="card-back"><h2>${name}</h2><p>${description}</p></div>                                        
                                    </div>
                                </a>`;
                    }

                    gamesContainer.innerHTML += html;
                    elephant();
                } catch (err) {
                    console.log(err);
                }
            })();
        </script>
    </body>
</html>
