* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

body {
    width: 100%;
    background-color: black;
}

main {
    max-width: 600px;
    width: 100%;
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Righteous", sans-serif;
    padding: 10px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-family: "Monoton", sans-serif;
    color: #c3ff59;
    font-weight: normal;
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-family: "Monoton", sans-serif;
    text-shadow: 0 0 3px #c3ff59;
    font-weight: normal;
}

span {
    font-size: 2rem;
}

#x {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 3rem;
    height: 3rem;
    color: #c3ff59;
    border-radius: 50%;
    padding: 10px;
    font-size: 2rem;
    z-index: 100;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Monoton", sans-serif;
}

#contact {
    margin-top: 10px;
}

a {
    text-decoration: none;
}

#contact a + a {
    margin-left: 1rem;
}

svg {
    width: 32px;
    height: 32px;
    fill: hsl(0, 0%, 100%);
}

a:hover > svg {
    fill: #c3ff59;
}

@media screen and (max-width: 640px) {
    main {
        margin-top: 50px;
    }
}
