* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "MuseoModerno", cursive, sans-serif;
}

body {
    width: 100%;
}

#games {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.card {
    background-color: transparent;
    width: 300px;
    max-width: 100vw;
    height: 400px;
    max-height: 150vw;
    padding: 5px;
    margin: 5px;
}

.card-inner {
    position: relative;
    transition: transform 1s;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.card-front,
.card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    border: 2px solid black;
    text-decoration: none;
}

.card-front {
    overflow: hidden;
}

.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a1931;
}

.card-back {
    transform: rotateY(180deg);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.canvas-back {
    color: #ffc947;
}

img {
    width: 100%;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px black, -2px -2px 1px black, 2px -2px 1px black,
        -2px 2px 1px black;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 1px black, -2px -2px 1px black, 2px -2px 1px black,
        -2px 2px 1px black;
}

canvas {
    align-self: center;
}
