* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

:root {
    --color-hover: #c3ff59;
    --style-font: "Monoton", sans-serif;
}

body {
    width: 100%;
    background-color: black;
}

main {
    max-width: 600px;
    width: 100%;
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "Righteous", sans-serif;
    padding: 10px;
}

h1 {
    font-size: 3rem;
    text-align: center;
    font-family: var(--style-font);
    color: var(--color-hover);
    font-weight: normal;
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-family: var(--style-font);
    text-shadow: 0 0 3px var(--color-hover);
    font-weight: normal;
}

h4 {
    font-family: var(--style-font);
    font-weight: normal;
    letter-spacing: 1px;
    word-spacing: 5px;
}

span {
    font-size: 2rem;
}

header {
    display: none;
}

nav {
    position: fixed;
    top: 25px;
    right: 10px;
    height: 60px;
    color: var(--color-hover);
    padding: 10px;
    font-size: 1.5rem;
    z-index: 100;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: var(--style-font);
    user-select: none;
}

nav a {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: var(--color-hover);
}

#contact {
    margin-top: 10px;
}

#contact a {
    text-decoration: none;
}

#contact a + a {
    margin-left: 1rem;
}

svg {
    width: 32px;
    height: 32px;
    fill: hsl(0, 0%, 100%);
}

a:hover > svg {
    fill: var(--color-hover);
}

#projects-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}

.project-card {
    width: 90vw;
    max-width: 250px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.project-card:hover {
    background-color: var(--color-hover);
}

.project-card h4,
.project-card p {
    color: black;
}

.project-card > p {
    text-align: left;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.project-card > div {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2px;
}

.project-card > div > p {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

@media screen and (max-width: 720px) {
    main {
        margin-top: 60px;
    }

    header {
        display: block;
        position: fixed;
        top: 0px;
        right: 20px;
        cursor: pointer;
        background-color: black;
        padding: 10px;
        border-bottom-left-radius: 10px;
    }

    header > div {
        width: 60px;
        border: 5px solid var(--color-hover);
        margin-top: 20px;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        transition: 0.5s all;
    }

    header > div:first-child {
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    header.show > div:first-child {
        border: 5px solid white;
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
    }

    header > div:last-child {
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
    }

    header.show > div:last-child {
        border: 5px solid white;
        -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        transform: rotate(-30deg);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
    }

    nav {
        display: none;
        top: 10px;
        right: 0px;
        background-color: black;
    }
}
